* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 800px;
}

.start-container {
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 800px;
}

.main-container {
    display: flex;
    justify-content: space-around;
    max-width: 1000px;
    margin: auto;
}
.option-container {
    display: flex;
    width: 250px;
    justify-content: center;
    flex-wrap: wrap;
}

.question {
    width: 400px; 
    height: 300px;
    background-image: url(/resources/images/main-background.jpg);
    background-size: 120%;
    color: rgb(20, 15, 15);
    border-radius: 5%;
    margin: 10px;
    font-size: 50px;
}

.item {
    width: 100px; 
    height: 100px;
    border: 2px solid rgb(6, 6, 59);
    background: url(/resources/images/maki-option.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    margin: 10px;
    cursor: pointer;
    box-shadow: 5px 5px 5px #566B29;
    padding-top: 12px;
}

.begin:hover,
.reset:hover {
    background-color: rgb(6, 6, 59);
    box-shadow: 5px 5px 5px rgb(60, 60, 116);
}

.item:hover {
    box-shadow: 5px 5px 5px rgb(60, 60, 116);
}

.item:active {
    background-color: black;
}

.item,
.question {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
}
.begin,
.reset {
    cursor: pointer;
    background-color: #C96453;
    color: white;
    border: none;
    box-shadow: 5px 5px 5px #A35143;
}

.answer,
.reset,
.begin {
    height: 75px;
    width: 300px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
}

.answer {
    box-shadow: 0 0 10px #A35143;;
    background-color: rgb(247, 247, 247);
}

.score-container {
    display: flex;
    justify-content: space-around;
    max-width: 1000px;
    margin: auto;
}

.wins,
.losses,
.percent {
    width: 150px;
    height: 75px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    margin: 0 3px;
    background-color: rgb(247, 247, 247);
}

.message {
    width: 550px;
    height: 75px;
    margin: auto;
    margin-top: 25px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

@media only screen and (max-width: 812px) and (min-width: 375px) {
    .start-container {
        margin: auto;
        justify-content: space-between;
        width: 500px;
    }
    .main-container {
        flex-direction: column;
    }
    .option-container {
        display: flex;
        width: 400px;
        margin: auto;
    }
    .question {
        height: 200px;
        margin: auto;
    }
    .reset,
    .begin,
    .answer {
        height: 55px;
        width: 150px;
        margin-top: 25px;
        margin-bottom: 10px;
    }
    .item {
        width: 80px; 
        height: 50px;
        font-size: 12px;
    }

    .score-container {
        justify-content: center;
        max-width: 100%;
    }
    .wins,
    .losses,
    .percent {
        width: 100px;
        height: 45px;
        font-size: 13px;
        font-weight: 600;
    }
}